/* From Prototype:
Colors
Text: #090C08
Primary: #0A4748
Secondary: #DA9664
Accent: #89BDB2
Background: #F8F4F9

Fonts
Header 1: Merriweather-Bold-48pt
Header 2: Merriweather-Regular-40pt
Header 3: Merriweather-Bold-32pt
Header 4: Merriweather-Regular-28pt
Footer Text: Merriweather-Bold-16pt
Nav Items: Courier Prime-Bold-24 
Body Text: Courier Prime-Regular-16pt
*/

body {
    background-color: #F8F4F9;
    color: #090C08;
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime';
    font-size: 16px;
}

/* FONTS */
p {
    font-size: 16px;
    font-family: "Courier Prime";
}
h1, h2, h3, h4, footer {
    font-family: 'Merriweather';
    text-align: center;
}
h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}
h3 {
    font-size: 18px;
    font-weight: normal;
}


/* NAV BAR UPDATES*/
nav {
    background: #da9664;
    color: #F8F4F9;
    text-transform: uppercase;
}
nav .button {
    background: #da9664;
}
.closer{
    display: none;
    color: #F8F4F9;
    cursor: pointer;
}
@media (max-width: 60em) {
    nav .burger~.menu, nav .show:checked~.burger {
        background: #da9664;
        max-width: 100%;
        width: 100%;
        color: #F8F4F9;
    }
    .closer {
        display: visible;
    }
}
.menu a:hover, .menu a:focus, .menu a:focus-within, .closer:hover, .closer:focus, .closer:focus-within {
    text-decoration: underline;
    background: #0A4748;
}

/* FOOTER */
footer {
    background: #da9664;
    color: #F8F4F9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 1rem 0;
    margin-top: 3rem;
}
footer a{
    color: #F8F4F9;
    cursor: pointer;
}

/* HOME PAGE */
.mission {
    background-color: #0A4748;
    color: #89BDB2;
    padding: 1rem;
    margin-top: 5rem;
    margin: 5rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #89BDB2;
}
.mission h2 {
    color: #F8F4F9;
}

.sign-up {
    background-color: #89BDB2;
    padding: 2rem;
    margin: 0 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border: 3px solid #0A4748;
}
input {
    background: #F8F4F9;
    border-radius: 10px;
    box-shadow:1px 1px 1px rgba(0,0,0,3) inset;
}
.news-submit-button {
    background: #F8F4F9;
    border: 3px solid #da9664 ;
    border-radius: 5px;
    color: #da9664;
    font-weight: bold;
    cursor: pointer;
}
.news-submit-button:hover, .news-submit-button:focus, .news-submit-button:focus-within {
    background: #da9664;
    color: #F8F4F9;
    border: 3px solid #0A4748;
    text-decoration: underline;
}

.featured_events{
    margin-top: 3rem;
}
.event-card {
    background: #89BDB2;
    color: #0A4748;
    margin: 1rem;
    padding: .5rem;
    border: 3px solid #0A4748;
    border-radius: 15px;
    color: #0A4748;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    cursor: pointer;
    transition: all 2s;
}
.event-date {
    background: #0A4748;
    color: #89BDB2;
    border-radius: 15px;
    margin-right: .25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.event-details{
    text-align: center;
}
.month{
    font-size: 14px
}
.date {
    font-size: 18px;
}
.event-card:hover, .event-card:focus, .event-card:focus-within {
    transform: scale(1.1);
}

.featured_reviews{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-review-card img{
    width: 200px;
    height: auto;
    transition: all 1s;
}
.home-review-card img:hover, .home-review-card img:focus, .home-review-card img:focus-within {
    transform: translateX(5px) ;
    box-shadow: 5px 5px 5px rgba(0,0,0,3);
}
.review-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    height: auto;
}
.review-card img {
    width: 100%;
}
.review-stars a{
    color: #da9664;
    cursor: pointer;
}
.carousel {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 1rem;
    gap: 1.5rem;
    cursor: auto;
}
.read-more button{
    background:#F8F4F9;
    color: #da9664;
    font-weight: bold;
    border: 3px solid #da9664;
    border-radius: 10px;
}
.read-more button:hover, .read-more button:focus, .read-more button:focus-within {
    background: #da9664;
    color: #F8F4F9;
    border: 3px solid #0A4748;
    text-decoration: underline;
}
.read-more {
    margin: 0 auto;
}



/* EVENTS PAGE */
.calendar-container{
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.calendar-container iframe{
    width: 95%;
    height: 500px;
}
.events-blurb {
    padding: 1rem 1rem;
}

/* REVIEW PAGE */
.hidden-review {
    visibility: hidden;
    background: #89BDB2;
    color: #090C08;
    text-align: left;
    transition: all 1.5s;
}
.carousel .review-card .review-stars a{
font-size: 50px;
}
.carousel .review-card img {
    transition: all 1s;
}
.carousel .review-card img:hover, .carousel .review-card img:focus, .carousel .review-card img:focus-within {
    transform: translateX(5px) ;
    box-shadow: 5px 5px 5px rgba(0,0,0,3);
}

/* CONTACT PAGE */


.contact {
    padding-top: 60px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
 }
 
 
 .contact-information {
    border: 5px solid #89BDB2;
    padding: 1rem;
    border-radius: 10px;
 }
 
 
 .contact-header {
    font-family: 'Merriweather';
    text-align: center;
    color: #0a4748;
    font-weight: bold;
 }
 
 
 .contact-info-paragraph{
    font-size: 16px;
    font-family: 'Courier Prime';
    color: #090C08;
 }
 
 
 .in-touch-header {
    font-family: 'Merriweather';
    text-align: center;
    color: #0a4748;
    font-weight: bold;
 }
 
 
 .contact-form{
    background:#0A4748;
    color:#F8F4F9;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }
 
 
 input {
    color:#090C08;
 }
 
 
 .contact-button {
    background:#89BDB2;
    color:#0A4748;
    font-family:'Merriweather';
    font-size: 20px;
    width: 30%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
 }
 
 
 .contact-button:hover,
 .contact-button:focus {
    background:#0A4748;
    color: #F8F4F9;
    border: 3px solid #F8F4F9;
    text-decoration: underline;
 }
 
 
 /* ABOUT PAGE */
 
 
 .about-page {
    padding-top: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
 }
 
 
 .about-header {
    font-family: 'Merriweather';
    text-align: center;
    color: #0a4748;
    font-weight: bold;
    padding-bottom: 1rem;
 }
 
 
 .about-paragraph {
    font-size: 16px;
    font-family: 'Courier Prime';
    color: #090C08;
 }
 
 
 .about {
    background:#89BDB2;
    border: 8px solid #0A4748;
    border-radius: 10px;
    padding: 1rem;
 }
 
 
 .about-club {
    background:#89BDB2;
    border: 8px solid #0A4748;
    border-radius: 10px;
    padding: 1rem;
 }
 
 
 .about-paragraph-two {
    font-size: 16px;
    font-family: 'Courier Prime';
    color: #090C08;
 }
 
 
 .about-club-header {
    font-family: 'Merriweather';
    text-align: center;
    color: #0a4748;
    font-weight: bold;
    padding-bottom: 1rem;
 }
 
.about-img {
    border-radius: 10px;
}

@media screen and (min-width: 768px) {


    /* ABOUT */
    .about-page {
       display: grid;
       grid-template-columns: 2fr 1fr;
       grid-template-rows: auto auto;
       align-items: start;
       gap: 2rem;
    }
    .about {
       grid-column: 1 / 3;
       grid-row: 1/2;
    }
    .about-img {
       grid-column: 2 / 3;
       grid-row: 2/3;
       width: 100%;
       height: auto;
       object-fit: cover;
    }
    .about-club {
       grid-column: 1 / 2;
       grid-row: 2 / 3;
    }
    
    
    /* HOME PAGE */
    .content {
       display: grid;
       grid-template-columns: 2fr 1fr;
       grid-template-rows: auto auto; 
       gap: 2rem;
    }
    .mission {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    }
    .featured_events {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    }
    .newsletter {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    }
    .featured_reviews {
       grid-column: 2 / 3;
       grid-row: 2 / 3;
    }
    
}
    